In [7]:
# Write a lambda function to square a number.
p = (lambda i:i*i)
print(p(5))

25

In [4]:
p = lambda x,y:x+y

In [5]:
p(2,3)

5

In [8]:
# Write a lambda function to check if a number is even.
p = lambda x:x%2==0

In [9]:
p(8)

True

In [10]:
p(7)

False

In [11]:
# Write a lambda function to multiply two numbers.
p = lambda x,y:x*y

In [12]:
p(5,6)

30

In [14]:
# Write a lambda function to return the larger of two numbers.
p = lambda a,b:a if a>b else b

In [15]:
p(15,12)

15

In [16]:
p(5,23)

23

In [17]:
# Write a lambda function to find the absolute value of a number.
p = lambda a:abs(a)

In [18]:
p(5)

5

In [19]:
p(-50)

50

In [31]:
# Write a lambda function to check if a string is a palindrome.
p = lambda i:i==i[::-1]

In [32]:
p('nitin')

True

In [33]:
p('ketan')

False

In [21]:
# Write a lambda function to calculate the cube of a number.
p = lambda x:x**3

In [23]:
p(9)

729

In [24]:
# Write a lambda function that returns the length of a string.
p = lambda i:len(i)

In [25]:
p('khushbu')

7

In [28]:
# Write a lambda function to check if a number is positive.
p = lambda x:x>0

In [29]:
p(-6)

False

In [30]:
p(80)

True

In [34]:
# Write a lambda function to convert Celsius to Fahrenheit.
p = lambda i:((9*i/5)+32)

In [35]:
p(30)

86.0

## map function

In [38]:
# Write a lambda function using map to square all elements in a list.
p = list(map(lambda x:x*x,[5,2,3,8]))
print(p)

[25, 4, 9, 64]

In [41]:
# Write a lambda function using map to convert all strings in a list to uppercase.
p = list(map(lambda x:x.upper(),['khushbu','ketan','randive']))
print(p)

['KHUSHBU', 'KETAN', 'RANDIVE']

In [42]:
# Write a lambda function using map to round off float numbers in a list.
p = list(map(lambda x:round(x),[12.23,56.3,84.596]))
print(p)

[12, 56, 85]

In [43]:
# Write a lambda function using map to get the last character of each string in a list.
p = list(map(lambda x:x[-1],['khushbu','ketan','randive']))
print(p)

['u', 'n', 'e']

In [46]:
# Write a lambda function using map to calculate discounted prices (10% off) from a list of prices.
p = list(map(lambda x:0.1*x, [100,500,1000]))
print(p)

[10.0, 50.0, 100.0]

In [47]:
# Write a lambda function using filter to select only even numbers from a list.
p = list(filter(lambda x:x%2==0,[5,3,6,8,9,12]))
print(p)

[6, 8, 12]

In [48]:
# Write a lambda function using filter to find strings longer than 5 characters.
string = ['khushbu','ketan','randive','shahare','book','pen']
p = list(filter(lambda x:len(x)>5,string))
print(p)

['khushbu', 'randive', 'shahare']

In [49]:
# Write a lambda function using filter to find all palindromes in a list of strings.
st = ['nitin', 'khushbu','radar','civic','yogesh']
p = list(filter(lambda x:x==x[::-1],st))
print(p)

['nitin', 'radar', 'civic']

In [50]:
# Write a lambda function using filter to extract positive numbers from a list. 
l = [4,5,0,-6,3,-9,-5]
p = list(filter(lambda x:x>0,l))
print(p)

[4, 5, 3]

In [52]:
# Write a lambda function using filter to get all emails that end with "@gmail.com".
emails = ['khushbu@gmail.com','ketan@yahoo.com','harshal@gmail.com']
p = list(filter(lambda x:x.endswith('@gmail.com'),emails))
print(p)

['khushbu@gmail.com', 'harshal@gmail.com']

## Reduce

In [54]:
from functools import reduce

In [55]:
# 21. Write a lambda function using reduce to find the sum of all elements in a list.
l = [4,5,3,2,1,9,6]
p = reduce(lambda a,b:a+b,l)
print(p)

30

In [57]:
# Write a lambda function using reduce to find the product of all elements in a list.
l = [4,5,3,2,1,9,6]
p = reduce(lambda a,b:a*b,l)
print(p)

6480

In [72]:
# Write a lambda function using reduce to find the longest word in a list of words.
st = ['nitin', 'khushbu','radar','civic','yogesh','durdharshan']
p = reduce(lambda x,y:x if len(x)>len(y) else y,st)
print(p)

durdharshan

In [74]:
# Write a lambda function using reduce to find the minimum value in a list.
l = [5,8,6,3,2,9]
p = reduce(lambda x,y:x if x<y else y,l)
print(p)

2

In [62]:
# 25. Write a lambda function using reduce to concatenate all strings in a list into a single sentence.
st = ['nitin', 'khushbu','radar','civic','yogesh']
p = reduce(lambda x,y:((x+" ")+y),st)
print(p)

nitin khushbu radar civic yogesh

In [66]:
# Write a lambda function using reduce to count the total number of characters in a list of strings.
st = ['nitin', 'khushbu','radar','civic','yogesh']
p = reduce(lambda x,y:x+len(y),st,0)
print(p)

28

In [67]:
m=0
for i in st:
    m = len(i)+m
print(m)

28

In [69]:
# Write a lambda function using map to apply a grading curve (+5 marks, max 100) to a list of student scores.
marks  = [83,86,91,78,97,66]
p = list(map(lambda x:x+5 if x+5 <100 else 100, marks))
print(p)

[88, 91, 96, 83, 100, 71]

In [77]:
# Write a lambda function using map to extract domain names from email addresses.
emails = ['khushbu@gmail.com','ketan@yahoo.com','harshal@gmail.com',"john@gmail.com", "sara@yahoo.com", "mike@outlook.com", "anna@company.org"]
p = list(map(lambda i:i.split('@')[1],emails))
print(p)

['gmail.com', 'yahoo.com', 'gmail.com', 'gmail.com', 'yahoo.com', 'outlook.com', 'company.org']

In [102]:
# Write a lambda function using map to prefix "Mr." or "Ms." to names based on a gender list.
n = ['ketan','khushbu','anagha','paras']
p = ['m','f','f','m']
k = []
m = []
c= list(zip(n,p))
for i in c:
    if i[1]=='m':
        k.append('mr. '+i[0])
        m.append('m')
    else:
        k.append('ms.'+i[0])
        m.append('f')
a = list(zip(k,m))
print(a)

[('mr. ketan', 'm'), ('ms.khushbu', 'f'), ('ms.anagha', 'f'), ('mr. paras', 'm')]